::placeholder {
	color: #000;
	font-family: serif;
	font-style: italic;

}

.list{
}

.title{
	display: flex;
	flex:1;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background: rgba(220,220,220,0.9);
	box-shadow: 3px 1px 4px 1px rgba(0,0,0, 0.8);
}

.title > div > .title_text{
	letter-spacing: 3px;
	font-family: serif;
	font-size: 25px;
}

.title > div > input{
	flex: 0 0 300px;
	height: 40px;
	outline: none;
	border:none;
	background: rgba(169,169,169, 0.8);
}

.icon_search{
	position: absolute;
	right:0;
	margin: 7px 10px;
}

.users{
	display: flex;
	max-width: 800px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px auto;
}

.users > .user{
	flex:1 1 230px;
	margin:15px;
	flex-wrap: wrap;
	background: #FFF;
	border-radius: 5px;
}

.users > .user > .items_user{
	
	padding: 20px;
}

.users > .user > .items_user > .item1{
	text-align: center;
	margin-bottom: 10px;
}

.users > .user > .items_user > .item2 {
	text-align: center;
}

.users > .user > .items_user > .item2 > h4{
	font-family: sans-serif;
	font-weight: bold;
}

.users > .user > .items_user > .item2 > h5{
	font-family: sans-serif;
	color:gray;
	font-style: italic;
	font-weight: bold;
}

.users > .user > .actions{
	display: flex;
	flex:1;
	justify-content: space-around;
	border-top:1px solid lightgray;
	padding: 5px;
}

.users > .user > .actions > .link{
	color:#000;
}

.nouser{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	background: #FFF;
	margin: 50px auto;
	padding: 15px;
	border-radius: 5px;
}

.nouser > h4{
	font-family: serif;
	padding:10px;
	font-style: italic;
	font-weight: bold;
}

.pagination{
	position: absolute;
	right: 0;
	bottom: 0;
}


