.container{
	width:100vw;
	height:100vh;
	display: flex;
	list-style: none;
}

.body{
	flex:1;
	height: 100%;
	width: calc(100% - 15%);
	background: rgba(220,220,220,0.8);
	position: absolute;
	right: 0;	
}



