/* ----- RESET ---- */
*{
	margin:0;
	padding: 0;
	outline: none;
	list-style: none;
	box-sizing: border-box;
}
/* ---------------- */

.container{
	width:100%;
	height:100vh;
	display: flex;
}

.body{
	flex:1;
	position: absolute;
	background: rgba(220,220,220,0.4);
	width: calc(100% - 15%);
	right: 0;
}

.body > .title{
	display: flex;
	flex:1;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	padding: 5px 10px;
	background: rgba(220,220,220,0.9);
	box-shadow: 3px 1px 4px 1px rgba(0,0,0, 0.8);
}

.body > .title > .title_text{
	letter-spacing: 3px;
	font-family: serif;
	font-size: 25px;
}

.body > .form_register{
	background: #FFF;
	max-width: 800px;
	margin: 20px auto;
	
}

.form_register > .definitions{
	display: flex;
	flex-direction: column;
}
.form_register > .title_register{
	width: 100%;
	background: lightgray;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
}

.form_register >  .definitions > .label_register{
	margin-top: 10px;
	padding-left: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.form_register > .definitions > .label_register > .input_register{
	font-size: 15px;
	width: 40%;
	border: 1px solid lightgray;
}

.form_register > .journey{
	margin-top: 10px;
	display: flex;
	flex:1;
	justify-content: space-around;
	text-align: center;
	flex-direction: row;
	width:100%;
}

.form_register > .journey > .schedule, .interrupt{
	display: flex;
	flex-direction: row;
	border:1px solid lightgray;
}

.form_register > .type_access{
	display: flex;
	flex:1;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.form_register > .type_access > .access > label{
	margin-left:5px;
}

.form_register > .type_access > .access > label > input{
	width: 100%;
	border: 1px solid lightgray;
}

.form_register > .type_access > .permition > label {
	display: inline-block;
}

.btns{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 15px;
}

.btns > input{
	margin-left: 10px;
}

.spinner{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	height: calc(100% - 60px);
	margin-top: 60px;
	position: absolute;
	opacity: 0.4;
	right: 0;
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}

.pop_up{
	width: 100%;
	height: calc(100% - 60px);
	opacity: 0.5;
	position: absolute;
	color: #385d7a;
	background-color: gray;
  	bottom: 0;
  	right: 0;
}

.success{
	display: flex;
	flex:1;
	border-radius: 5px;
	flex-direction: column;
	background: #FFF;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	height: 300px;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px auto;
    color:green;
}

.success > h3{
	font-size: 30px;
	font-family: serif;
	font-style:italic;
}

.login, .logout, .away, .returned{
	border:none;	
}

@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}