/* ----- RESET ---- */
*{
	margin:0;
	padding: 0;
	outline: none;
	list-style: none;
	box-sizing: border-box;
}
/* ---------------- */

.container{
	width:100%;
	height:100vh;
	display: flex;
}

.body{
	flex:1;
	position: absolute;
	background: rgba(220,220,220,0.8);
	width: calc(100% - 15%);
	right: 0;
}

.body > .form_register{
	background: #FFF;
	max-width: 800px;
	margin: 60px auto;
	
}

.form_register > .definitions{
	display: flex;
	flex-direction: column;
}
.form_register > .title_register{
	width: 100%;
	background: lightgray;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
}

.form_register >  .definitions > .label_register{
	margin-top: 10px;
	padding-left: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.form_register > .definitions > .label_register > .input_register{
	font-size: 15px;
	width: 40%;
	border: 1px solid lightgray;
}

.form_register > .journey{
	margin-top: 10px;
	display: flex;
	flex:1;
	justify-content: space-around;
	text-align: center;
	flex-direction: row;
	width:100%;
}

.form_register > .journey > .schedule, .interrupt{
	display: flex;
	flex-direction: row;
	border:1px solid lightgray;
}

.form_register > .type_access{
	display: flex;
	flex:1;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.form_register > .type_access > .access > label{
	margin-left:5px;
}

.form_register > .type_access > .access > label > input{
	width: 100%;
	border: 1px solid lightgray;
}

.form_register > .type_access > .permition > label {
	display: inline-block;
}

.btns{
	float:right;
}

.btns > input{
	margin-left: 10px;
}

.spinner{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	height: calc(100% - 60px);
	margin-top: 60px;
	position: absolute;
	opacity: 0.4;
	right: 0;
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}

.success{
	display: flex;
	width: calc(100% - 15%);
	position: fixed;
	right: 0;
	font-weight: bold;
	margin-top: 60px;
	font-size: 20px;
	justify-content: center;
	color: #385d7a;
  	background-color: #e2f0fb;
  	border-color: #d6e9f9;
}

.error{
	color: #761b18;
  	background-color: #f9d6d5;
  	border-color: #f7c6c5;
	display: flex;
	width: calc(100% - 15%);
	position: fixed;
	right: 0;
	font-weight: bold;
	margin-top: 60px;
	font-size: 20px;
	justify-content: center;
	font-family: sans-serif;
}

.login, .logout, .away, .returned{
	border:none;	
}

@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}