.header{
	display: flex;
	flex:1;
	width: 100%;
	padding-left: 35px;
	position: absolute;
	padding-right: 35px;
	justify-content: space-between;
	align-items: center;
	background-color:blue;
	height: 60px;
	flex-wrap: wrap;
}

.link{
	color:orange;
}

.link:hover{
	text-decoration: none;
	color:#000;
}