/* ----- RESET ---- */
*{
	margin:0;
	padding: 0;
	outline: none;
	list-style: none;
	box-sizing: border-box;
}
/* ---------------- */

.container{
	width:100%;
	height:100vh;
	display: flex;
	list-style: none;
}

.body{
	flex:1;
	height: calc(100% - 60px);
	width: calc(100% - 15%);
	background: rgba(220,220,220,0.4);
	position: absolute;
	right: 0;	
	bottom: 0;
}
